*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    height: 350px;
    width: 400px;
    margin:  10px auto;
    border: 2px solid black;
    padding: 50px 50px;
    background-color: #f8f8f8;
    border-radius: 5px;
}
input{
    height: 50px;
    width: 300px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.button{
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 600;
}
.output{
    height: 50px;
    width: 300px;
    border: 2px solid black;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
}