*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 500px;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    border: 2px solid black;
    text-align: center;
}
#input1{
    margin-top: 20px;
    width: 60%;
    height: 100px;
    text-align: center;
    font-size: 30px;
}
.buttons{
    margin-top: 40px;
}
.previewbox{
    height: 200px;
    width: 50%;
    border: 1px solid black;
    margin-left: 200px;
    margin-top: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}